# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [19]:
# Your code here:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

In [20]:
# Case lowering of headers with underscores.
cols = []
for column in salaries.columns:
    cols.append(column.lower().replace(' ','_'))
cols
salaries.columns = cols

Examine the `salaries` dataset using the `head` function below.

In [21]:
# Your code here:

salaries.head()

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [22]:
# Your code here:
salaries.isna().sum()

name                     0
job_titles               0
department               0
full_or_part-time        0
salary_or_hourly         0
typical_hours        25528
annual_salary         8174
hourly_rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [23]:
# Your code here:
salaries['salary_or_hourly'].value_counts()

Salary    25528
Hourly     8174
Name: salary_or_hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [24]:
# Your code here:
salaries['department'].value_counts()

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [41]:
# Your code here:
import scipy.stats
from scipy.stats import ttest_1samp

In [48]:
hourly_rate = salaries['hourly_rate'].dropna()

In [50]:
# Two-sided test:
# Null hypothesis or H0: hourly wage = $30/hr
# Alternative hyp or H1: hourly wage != $30/hr

stat, pval = ttest_1samp(hourly_rate, 30)

print('stat is  ', stat) #direction sign of the stat, in what direction are we all?

print('pvalue for the two-tailed test is ', pval)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [ ]:
# p-value is very low, we reject the H0.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [54]:
# Your code here:
annual_salary = salaries['annual_salary'].dropna()

In [57]:
stat, pval = ttest_1samp(annual_salary, 86000)

print('stat is  ', stat) #direction sign of the stat, in what direction are we all?

print('pvalue for the one-tailed test is ', pval/2) # one-tailed p is very low, we reject the H0.

stat is   23.149576589194083
pvalue for the one-tailed test is  1.1882570425863358e-117

In [58]:
confidence_level = 0.95 #true population mean is within confidence interval
degrees_freedom = len(annual_salary) - 1  # or, for large values of sample size, just use that # number of samples you have - 1 # if you have len(annual_salary)=1 then you cant use the formula as degree of freedom=0
sample_mean = np.mean(annual_salary)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(annual_salary) # sem = standard error of the mean = std(annual_salary)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [59]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88802.55516222386, 89321.03483777608) .

Using the `crosstab` function, find the department that has the most hourly workers.

In [60]:
# Your code here:

matrix_donors = salaries[salaries['department']!='salary_or_hourly']
matrix_donors.shape

(33702, 8)

In [61]:
data_crosstab = pd.crosstab(matrix_donors['department'], matrix_donors['salary_or_hourly'], margins=False)
data_crosstab

salary_or_hourly     Hourly  Salary
department
ADMIN HEARNG              0      38
ANIMAL CONTRL            12      63
AVIATION               1214     642
BOARD OF ELECTION         0     111
BOARD OF ETHICS           0       8
BUDGET & MGMT             2      42
BUILDINGS                 0     258
BUSINESS AFFAIRS          7     160
CITY CLERK                0      88
CITY COUNCIL             74     288
COPA                      0     123
CULTURAL AFFAIRS         10      64
DAIS                    745     288
DISABILITIES              1      27
FAMILY & SUPPORT        357     299
FINANCE                  45     499
FIRE                      0    4627
HEALTH                    2     465
HOUSING                   0      66
HOUSING & ECON DEV        3     151
HUMAN RELATIONS           0      17
HUMAN RESOURCES           0      75
INSPECTOR GEN             0      95
LAW                      48     350
LICENSE APPL COMM         0       1
MAYOR'S OFFICE           17      87
OEMC                   1077     660
POLICE                   24   13824
POLICE BOARD              0       2
PROCUREMENT               2      82
PUBLIC LIBRARY          356     732
PUBLIC SAFETY ADMIN      48     196
STREETS & SAN          1846     329
TRANSPORTN              726     387
TREASURER                 0      28
WATER MGMNT            1558     356

In [75]:
print(data_crosstab[data_crosstab.Hourly == data_crosstab.Hourly.max()])

# STREETS & SAN is the department that has the most hourly workers.

salary_or_hourly  Hourly  Salary
department
STREETS & SAN       1846     329

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [76]:
# Your code here:

# One-sided test:
# Null hypothesis or H0: hourly wage = $35/hr
# Alternative hyp or H1: hourly wage != $35/hr

stat, pval = ttest_1samp(hourly_rate, 35)

print('stat is  ', stat) #direction sign of the stat, in what direction are we all?

print('pvalue for the one-tailed test is ', pval/2)

stat is   -2.8142736834194233
pvalue for the one-tailed test is  0.002450222172329931

In [78]:
# p-value is very low, we reject the H0.

In [79]:
confidence_level = 0.95 #true population mean is within confidence interval
degrees_freedom = len(hourly_rate) - 1  # or, for large values of sample size, just use that # number of samples you have - 1 # if you have len(hourly_rate)=1 then you cant use the formula as degree of freedom=0
sample_mean = np.mean(hourly_rate)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourly_rate) # sem = standard error of the mean = std(hourly_rate)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [80]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [81]:
# Your code here:

confidence_level = 0.95 #true population mean is within confidence interval
degrees_freedom = len(hourly_rate) - 1  # or, for large values of sample size, just use that # number of samples you have - 1 # if you have len(hourly_rate)=1 then you cant use the formula as degree of freedom=0
sample_mean = np.mean(hourly_rate)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourly_rate) # sem = standard error of the mean = std(annual_salary)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [82]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [92]:
# Your code here:
salaried = salaries[(salaries['salary_or_hourly'] == 'Salary')]
salaried

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
...,...,...,...,...,...,...,...,...
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33701,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DAIS,F,Salary,NaN,126732.0,NaN

In [93]:
# Your code here:

confidence_level = 0.95 #true population mean is within confidence interval
degrees_freedom = len((salaries['salary_or_hourly'] == 'Salary')) - 1  # or, for large values of sample size, just use that # number of samples you have - 1 # if you have len(salaried['salary_or_hourly'])=1 then you cant use the formula as degree of freedom=0
sample_mean = np.mean((salaries['salary_or_hourly'] == 'Salary'))
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem((salaries['salary_or_hourly'] == 'Salary')) # sem = standard error of the mean = std(salaried['salary_or_hourly'])/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [94]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (0.7528861878321104, 0.7620387424390901) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: